html,
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.3px;
  background-color: #002a38;
  color: #bedb39;
  margin:0;
  padding:0;
}

a:link,
a:hover,
a:visited,
a:active {
  color: #bedb39;
}

.b-nav__wrap,
.b-package-search__wrap,
.b-package-data__wrap,
.b-filter__wrap,
.b-cli__wrap {
  width: 800px;
  margin: 0 auto;
}

.b-nav {
  font-size: 11px;
  text-transform: uppercase;
  text-align:right;
  padding:0.9em;
}

/** @define b-package-data **/

.b-package-data {
  font-size: 12px;
  margin-bottom: 1em;
  color: #1f8a70;
}

.b-package-data__link {
  text-decoration:none;
  padding-bottom:0.6em;
  margin-bottom:0.6em;
  display:block;
  border-bottom: 1px solid rgb(0, 60, 79);
}

.b-package-data__title {
  line-height: 1.2;
  font-size: 18px;
  text-transform: uppercase;
  padding:1em 0;
  color: #1f8a70;
}

.b-package-data__title_compact {
  font-size:14px;
  padding:0.3em 0;
}

.b-package-data__title_headline {
  color: #bedb39;
  font-size: 24px;
  letter-spacing: 0.8px;
}

.b-package-data__description {
  color: #bedb39;
  margin: 0 0 1em 0;
}

.b-package-data__revision {
  color: #1f8a70;
}

.b-package-data__version {
  color: #bedb39;
}

.b-package-data__item {
  margin-bottom: 0.6em;
  color: #1f8a70;
}

.b-package-data__item b {
  font-weight: inherit;
}

.b-package-data__json {
  background-color: rgba(0, 60, 79, 0.35);
  padding:1em;
  margin:1em 0;
}

.b-package-data__json pre {
  overflow: hidden;
}

/** @define b-filter **/

.b-filter {
  background-color: #003c4f;
  padding: 1em;
  margin: 1em 0;
}

.b-filter__result {
  padding:0.3em 0;
  color: #1f8a70;
}

/** @define b-cli **/

.b-cli {
  background-color: rgba(0, 60, 79, 0.35);
  padding: 1em;
  margin: 0 0 1em 0;
  color: #1f8a70;
  white-space: pre ;
  display: block;
  unicode-bidi: embed;
  font-family: monospace;
}

.b-cli a {
  color: #1f8a70;
  text-decoration: none;
}

/** @define b-query; **/

.b-query {
  box-sizing: border-box;
  position:relative;
}

.b-query__input {
  box-sizing: border-box;
  width:100%;
  padding:5px 10px;
  margin:0;
  line-height:40px;
  border:none;
  background-color:rgba(0,0,0,0.3);
  font-size:13px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2px;
  text-transform:uppercase;
  color:#bedb39;
}

.b-query__input:focus {
  outline:none;
}

/** @define b-fuzzy-switch; **/

.b-fuzzy-switch {
  margin-top:25px;
}

/* @define grid */

.grid {
  box-sizing: border-box;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

[class*='u_'] {
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

[class*='u_']:last-of-type {
  padding-right: 0;
}

.u_1_5 { width: 20%; }
.u_1_4 { width: 25%; }
.u_1_3 { width: 33.33%; }
.u_2_5 { width: 40%; }
.u_1_2 { width: 50%; }
.u_3_5 { width: 60%; }
.u_2_3 { width: 66.66%; }
.u_3_4 { width: 75%; }
.u_4_5 { width: 80%; }

/** @define b-switch; **/

.b-switch {
  text-transform:uppercase;
  position: relative;
  margin: 0 0 4px 0;
}

.b-switch:last-child  {
  margin-bottom: 0;
}

.b-switch, .b-switch * {
  box-sizing:border-box;
  cursor: pointer;
}

.b-switch input {
  opacity: 0;
  height: 1px;
  position: absolute;
}

.b-switch label {
  padding: 5px 5px 5px 2em; /** 5px padding to increase hit area **/
  margin: 0 0 0 1ex;
  height: 1.4em; /** line-height, see also __switch _label::before,after **/
  user-select: none;
  outline:none;
}

.b-switch label::before, .b-switch label::after {
  box-sizing:border-box;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 1em; /** line-height, see also __switch _label **/
  margin: 2px 2px 2px 0;
  border-radius:1px;
  transition:all 100ms;
  border-radius:2px;
}

.b-switch label::before {
  content: '';
  padding: 0 0 0 5px;
  width:2em;
  z-index:2;
  color:white;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.3);
}

.b-switch label::after {
  width: 1em;
  background-color: white;
  z-index: 3;
  height: 1em;
  top:0;
  border:1px solid #004358;
}

.b-switch input:checked + label::after {
  left:1em;
  border-color:#bedb39;
}

.b-switch input:checked + label::before {
  background-color:#bedb39;
  border-color:#bedb39;
}

.b-switch input + label {
  color:#1f8a70;
}

.b-switch input:checked + label {
  color:#bedb39;
}
