<!DOCTYPE html>
<html>
  <head>
    <title>Snaps</title>
    <link rel=stylesheet href="/dist/all.css" />
  </head>
  <body>
    <!--
    {% if not user %}
    <p>
    <a href="/">Home</a> |
    <a href="/login">Log In</a>
    </p>
    {% else %}
    <p>
    <a href="/">Home</a> |
    <a href="/account">Account</a> |
    <a href="/logout">Log Out</a>
    </p>
    {% endif %}
    {% block content %}{% endblock %}
    -->
    <div id="root" style="height:100%;">{{html|safe}}</div>
    <script>
      __INITIAL_STATE__ = {{state|dump|safe}};
    </script>
    <script src="/static/bundle.js"></script>
  </body>
</html>
