.root {
  box-sizing: border-box;
  position:relative;
  height:70px;
}

.search {
  box-sizing: border-box;
  width:100%;
  padding:15px;
  margin:0;
  line-height:40px;
  border-top:1px solid rgba(64,64,64,0.1);
  border-bottom:1px solid rgba(64,64,64,0.1);
  border-left:none;
  border-right:none;
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:2;
  background-color:white;
  font-size:28px;
  font-family: 'Blender Pro', sans-serif;
  text-transform:uppercase;
}

.search:focus {
  outline:none;
}
