.snap {
  margin:1rem 0;
  padding:1rem 0;
  display: block;
}

.snap:link {
  text-decoration:none;
  color:#333;
}

.key {
  padding-right:2rem;
  width: 100px;
  display:inline-block;
  text-align:right;
  color: #aabbbb;
}

.value {
}

.value i {
  color: #aabbbb;
  font-style:normal;
  text-transform: lowercase;
}

.row {
}

.hilite {
  font-size: 28px;
}
