.snap {
  margin:1rem 0;
  padding:1rem 0;
}

.key {
  padding-right:2rem;
  width: 100px;
  display:inline-block;
  text-align:right;
  color: #aabbbb;
}

.value {
}

.row {
}

.hilite {
  font-size: 28px;
}
